@keyframes rotation {
    0% {transform: rotateY(0deg);}

    13% {transform: rotateY(45deg);}

    24% {transform: rotateY(90deg);}

    36% {transform: rotateY(135deg);}

    48% {transform: rotateY(180deg);}

    60% {transform: rotateY(225deg);}

    72% {transform: rotateY(270deg);}

    84% {transform: rotateY(315deg);}

    100% {transform: rotateY(360deg);}
}

/*Hover Animation Start*/
span:hover {
    cursor: pointer;
    transform: translateX(-3px);
    transition-timing-function: ease-in-out;
}

.ad:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px var(--light-violet);
    transition-timing-function: ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: var(--light-magenta);
    transition-timing-function: ease-in-out;
}

button:active {
    background-color: var(--light-violet);
}

.menu:hover .dot {
    background-color: var(--button-background);
    transition-timing-function: ease-in-out;
}

.menu:active .dot {
    background-color: var(--light-magenta);
}
/*Hover Animation End*/